<%= render :partial => 'shared/user_section' %>
<section>
  <%= form_for current_user, :url => user_path do |f| %>
  <%- unless current_user.errors.empty? -%>
    <ul class="errors">
      <%- current_user.errors.full_messages.each do |msg| -%>
      <li><%= msg %></li>
      <%- end -%>
    </ul>
  <%- end -%>
    <p>Change your passphrase</p>
    <p><%= t("helpers.label.user.password_guidance") %></p>
    <p><label>Passphrase <%= f.password_field :password %></label></p>
    <p><label>Confirm passphrase <%= f.password_field :password_confirmation %></label></p>
    <p><%= f.submit "Change" %></p>
  <% end %>
</section>
